:root{
    --font-primary: 'Inter', sans-serif;
    --color-primary: #27AE60;
    --color-secondary: #EB5757;
    --color-gray-600: #333333;
    --color-gray-400: #BDBDBD;
    --color-gray-300: #828282;
    --color-gray-100:  #E0E0E0;
    --color-gray-0: #F5F5F5;
    --color-negative: #E60000;
    --color-warning: #FFCD07;
    --color-sucess: #168821;
    --color-information: #155BCB;
    --color-white: #FFFF;
}